.Task-main-box {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin-bottom: 1.2em;
}

.Task-box_light {
    height: 100%;
    width: 220px;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: break-word;
}
.Task-box_dark {
    height: 100%;
    width: 220px;
    background-color: rgb(30, 30, 30);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: break-word;
}

.Task-remove-box_light {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: tomato;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    width: 80px;
}
.Task-remove-box_dark {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 35, 0);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    width: 80px;
}

.Task-remove-text_light {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.3em;
    margin-left: 0.3em;
    user-select: none;
    color: black;
}
.Task-remove-text_dark {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.3em;
    margin-left: 0.3em;
    user-select: none;
    color: white;
}

.Task-text_light {
    margin-top: 0;
    margin-bottom: 0;
    user-select: none;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: black;
}
.Task-text_dark {
    margin-top: 0;
    margin-bottom: 0;
    user-select: none;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: white;
}