.settings_panel_main_position {
    position: fixed;
    display: flex;
    flex-direction: row;
    border: none;
    width: 100vw;
    justify-content: center;
    z-index: 1;
}
.settings_page_mainbox_light {
    position: fixed;
    width: 300px;
    border-radius: 25px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(18px);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}
.settings_page_mainbox_dark {
    position: fixed;
    width: 300px;
    border-radius: 25px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(18px);
    background-color: rgba(50, 50, 50, 0.5);
    border: none;
}
.settings_page_mainbox__MOZILLA_light {
    position: fixed;
    width: 300px;
    background-color: white;
    border-radius: 25px;
    z-index: 1;
    display: flex;
    flex-direction: column;;
}
.settings_page_mainbox__MOZILLA_dark {
    position: fixed;
    width: 300px;
    background-color: rgb(60, 60, 60);
    border-radius: 25px;
    z-index: 1;
    display: flex;
    flex-direction: column;;
}

.settings_title_box {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.settings_title_light {
    user-select: none;
    margin-left: 0.3em;
    font-weight: 600;
    color: black;
}
.settings_title_dark {
    user-select: none;
    margin-left: 0.3em;
    font-weight: 600;
    color: white;
}

.settings_box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 38vh;
    padding-left: 0.5em;
}


.settings_change_theme_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.settings_change_theme_light {
    font-weight: 400;
    user-select: none;
    color: black;
}
.settings_change_theme_dark {
    font-weight: 400;
    user-select: none;
    color: white;
}

.settings_change_username_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.settings_change_username_light {
    font-weight: 400;
    user-select: none;
    color: black;
}
.settings_change_username_dark {
    font-weight: 400;
    user-select: none;
    color: white;
}

.settings_change_email_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.settings_change_email_light {
    font-weight: 400;
    user-select: none;
    color: black;
}
.settings_change_email_dark {
    font-weight: 400;
    user-select: none;
    color: white;
}

.settings_delete_account_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.settings_delete_account_light {
    font-weight: 400;
    user-select: none;
    color: black;
}
.settings_delete_account_dark {
    font-weight: 400;
    user-select: none;
    color: white;
}

.settings_signout_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.settings_signout_light {
    color: #ff3d1b;
    font-weight: 500;
    user-select: none;
}
.settings_signout_dark {
    color: #e71010;
    font-weight: 500;
    user-select: none;
}

.settings_box__change_name {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 38vh;
}

.settings_new_old_name_text_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 12vh;
}
.settings_new_old_name_text_box_flexcl {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.settings_new_old_name_text {
    font-size: x-small;
    user-select: none;
    font-weight: 200;
    font-size: small;
}

.settings_new_name_input_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5vh;
}
.settings_new_name_input {
    border: none;
    border-radius: 15px;
    font-size: medium;
    font-weight: bold;
    height: 90%;
    width: 60%;
    border: solid;
    border-color: rgb(60, 60, 60);
    border-width: 2px;
}

.settings_old_name_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.settings_old_name_text {
    margin-top: 0;
    user-select: none;
}

.settings_change_new_name_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.settings_change_new_name_text {
    user-select: none;
}

.settings_change_name_separator {
    width: 65%;
}

.settings_active_name_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.settings_active_name_text {
    user-select: none;
}

.settings_box__change_email {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 38vh;
}

.settings_new_old_email_text_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 12vh;
}
.settings_new_old_email_text_box_flexcl {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.settings_new_old_email_text {
    font-size: x-small;
    user-select: none;
    font-weight: 200;
    font-size: small;
}

.settings_new_email_input_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5vh;
}
.settings_new_email_input {
    border: none;
    border-radius: 15px;
    font-size: medium;
    font-weight: bold;
    height: 90%;
    width: 60%;
    border: solid;
    border-color: rgb(60, 60, 60);
    border-width: 2px;
}

.settings_old_email_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.settings_old_email_text {
    margin-top: 0;
    user-select: none;
}

.settings_change_new_email_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.settings_change_new_email_text {
    user-select: none;
}

.settings_change_email_separator {
    width: 65%;
}

.settings_active_email_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.settings_active_email_text {
    user-select: none;
}

.settings_box__delete_account {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 38vh;
}

.settings_delete_account_condition_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 12vh;
}

.settings_delete_account_condition_text {
    user-select: none;
    margin: 0;
    font-weight: 300;
    font-size: small;
    margin-left: 0.8em;
    margin-right: 0.8em;
    text-align: center;
}

.settings_delete_account_separator {
    width: 65%;

}

.settings_delete_account_password_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.settings_delete_account_password_text {
    user-select: none;
    margin-bottom: 0;
    font-weight: 500;
}

.settings_delete_account_input_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5vh;
}

.settings_delete_account_input {
    border: none;
    border-radius: 15px;
    font-size: medium;
    font-weight: bold;
    height: 90%;
    width: 60%;
    border: solid;
    border-color: rgb(60, 60, 60);
    border-width: 2px;
}

.settings_delete_account_button_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 9vh;
}

.settings_delete_account_button {
    border: none;
    height: 60%;
    width: 55%;
    border-radius: 12px;
    font-weight: 600;
}

.settings_back_icon_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.settings_back_icon {
    width: 20px;
    padding-top: 10%;
    padding-left: 0.3em;
}