.settings_panel_main_position {
    position: fixed;
    display: flex;
    flex-direction: row;
    border: none;
    width: 100vw;
    justify-content: center;
    z-index: 1;
}
.settings_page_mainbox_light {
    position: fixed;
    width: 300px;
    border-radius: 25px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(18px);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}
.settings_page_mainbox_dark {
    position: fixed;
    width: 300px;
    border-radius: 25px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(18px);
    background-color: rgba(50, 50, 50, 0.5);
    border: none;
}
.settings_page_mainbox__MOZILLA_light {
    position: fixed;
    width: 300px;
    background-color: white;
    border-radius: 25px;
    z-index: 1;
    display: flex;
    flex-direction: column;;
}
.settings_page_mainbox__MOZILLA_dark {
    position: fixed;
    width: 300px;
    background-color: rgb(60, 60, 60);
    border-radius: 25px;
    z-index: 1;
    display: flex;
    flex-direction: column;;
}

.settings_title_box {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.settings_title_light {
    user-select: none;
    margin-left: 0.3em;
    font-weight: 600;
    color: black;
}
.settings_title_dark {
    user-select: none;
    margin-left: 0.3em;
    font-weight: 600;
    color: white;
}

.settings_box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 38vh;
    padding-left: 0.5em;
}


.settings_change_theme_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.settings_change_theme_light {
    font-weight: 400;
    user-select: none;
    color: black;
}
.settings_change_theme_dark {
    font-weight: 400;
    user-select: none;
    color: white;
}

.settings_change_username_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.settings_change_username_light {
    font-weight: 400;
    user-select: none;
    color: black;
}
.settings_change_username_dark {
    font-weight: 400;
    user-select: none;
    color: white;
}

.settings_change_email_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.settings_change_email_light {
    font-weight: 400;
    user-select: none;
    color: black;
}
.settings_change_email_dark {
    font-weight: 400;
    user-select: none;
    color: white;
}

.settings_delete_account_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.settings_delete_account_light {
    font-weight: 400;
    user-select: none;
    color: black;
}
.settings_delete_account_dark {
    font-weight: 400;
    user-select: none;
    color: white;
}

.settings_signout_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.settings_signout_light {
    color: #ff3d1b;
    font-weight: 500;
    user-select: none;
}
.settings_signout_dark {
    color: #e71010;
    font-weight: 500;
    user-select: none;
}