.main-box-Login {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("../../images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Login-title-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Login-title {
    position: relative;
    user-select: none;
}

.Login-main-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 42vh;
    margin-top: 10vh;
}

.Login-flex-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 75vw;
}

.Login-label {
    margin: 0;
    user-select: none;
}

.Login-email-input {
    height: 35px;
    border: none;
    border-radius: 8px;
    font-size: medium;
    font-weight: bold;
}

.Login-password-input {
    height: 35px;
    border: none;
    border-radius: 8px;
    font-size: medium;
    font-weight: bold;
}

.Login-box-label-confirm {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    user-select: none;
}

.Login_goback_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Login_goback {
    color: black;
    font-weight: 500;
    font-size: x-large;
    user-select: none;
}


.Login_password_reset_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Login_password_reset_text {
    margin: 0;
    font-weight: lighter;
    user-select: none;
}





@media screen and (max-height: 600px) {
    .Login-main-box {
        height: 50vh;
    }
    .Login-email-input {
        height: 30px;
    }
    .Login-password-input {
        height: 30px;
    }
}