.main-box-Signup {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("../../images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Signup-title-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Signup-title {
    position: relative;
    user-select: none;
}

.Signup-main-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
    margin-top: 10vh;
}

.Signup-flex-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 75vw;
}

.Signup-label {
    margin: 0;
    user-select: none;
}

.Signup-email-input {
    height: 35px;
    border: none;
    border-radius: 8px;
    font-size: medium;
    font-weight: bold;
    padding: 0;
}

.Signup-password-input {
    height: 35px;
    border: none;
    border-radius: 8px;
    font-size: medium;
    font-weight: bold;
    padding: 0;
}

.Signup-box-label-confirm {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    user-select: none;
}

.Signup-name-input {
    height: 35px;
    border: none;
    border-radius: 8px;
    font-size: medium;
    font-weight: bold;
    padding: 0;
}

.Signup_goback_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Signup_goback {
    color: black;
    font-weight: 500;
    font-size: x-large;
    user-select: none;
}

.Signup-label-confirm {
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    border-color: black;
    border-width: thin;
}





@media screen and (max-height: 620px) {
    .Signup-main-box {
        height: 60vh;
        margin-top: 5vh;
    }
    .Signup-name-input {
        height: 30px;
    }
    .Signup-email-input {
        height: 30px;
    }
    .Signup-password-input {
        height: 30px;
    }
    .Signup_goback {
        margin-top: 5px;
        margin-bottom: 5px;
    }
} 